BancaServices/Application/Service References/ConsultaTarjetaSR/ConsultaTarjetas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://wsdl.rbm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://schema.rbm.com" xmlns:impl="http://wsdl.rbm.com" targetNamespace="http://wsdl.rbm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://wsdl.rbm.com">
      <xsd:import namespace="http://schema.rbm.com" />
      <xsd:element name="getTarjetasDocumento">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="usrId" type="xsd:string" />
            <xsd:element name="usrPsw" type="xsd:string" />
            <xsd:element name="request" type="tns1:ConsultaTarjetas_req" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTarjetasDocumentoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTarjetasDocumentoReturn" type="tns1:ConsultaTarjetas_resp" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns1_ConsultaTarjetas_dto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns1:ConsultaTarjetas_dto" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schema.rbm.com">
      <xsd:import namespace="http://wsdl.rbm.com" />
      <xsd:complexType name="ConsultaTarjetas_req">
        <xsd:sequence>
          <xsd:element name="codigoCanal" nillable="true" type="xsd:string" />
          <xsd:element name="codigoEntidad" nillable="true" type="xsd:string" />
          <xsd:element name="numeroDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="tipoDocumento" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConsultaTarjetas_dto">
        <xsd:sequence>
          <xsd:element name="estadoTarjeta" nillable="true" type="xsd:string" />
          <xsd:element name="numeroTarjeta" nillable="true" type="xsd:string" />
          <xsd:element name="numeroTarjetaCompleto" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConsultaTarjetas_resp">
        <xsd:sequence>
          <xsd:element name="arrayConsultaTarjetas" nillable="true" type="impl:ArrayOf_tns1_ConsultaTarjetas_dto" />
          <xsd:element name="codigoRespuesta" nillable="true" type="xsd:string" />
          <xsd:element name="descripcionRespuesta" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTarjetasDocumentoResponse">
    <wsdl:part name="parameters" element="impl:getTarjetasDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="getTarjetasDocumentoRequest">
    <wsdl:part name="parameters" element="impl:getTarjetasDocumento" />
  </wsdl:message>
  <wsdl:portType name="ConsultaTarjetas">
    <wsdl:operation name="getTarjetasDocumento">
      <wsdl:input name="getTarjetasDocumentoRequest" message="impl:getTarjetasDocumentoRequest" />
      <wsdl:output name="getTarjetasDocumentoResponse" message="impl:getTarjetasDocumentoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaTarjetasSoapBinding" type="impl:ConsultaTarjetas">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTarjetasDocumento">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTarjetasDocumentoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTarjetasDocumentoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaTarjetasService">
    <wsdl:port name="ConsultaTarjetas" binding="impl:ConsultaTarjetasSoapBinding">
      <wsdlsoap:address location="http://10.231.50.10:8080/BPOWSuiteWS/services/ConsultaTarjetas" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>